user    nobody
group   nogroup

proto       udp
mode        p2p
# local     {{ ansible_host }}
lport       {{ item.openvpn.lport }}
rport       {{ item.openvpn.rport }}
remote      {{ item.openvpn.remote }}

resolv-retry infinite
dev-type    tun
dev         tun.{{ item.name }}

persist-key
persist-tun

comp-lzo
cipher {{ item.openvpn.cipher | default('aes-256-cbc') }}
{% if item.openvpn.auth is defined %}
auth {{ item.openvpn.auth }}
{% endif %}

ifconfig {{ dn42_ip }} {{ item.peer_ip }}
{% if item.openvpn.ipv6 is defined %}
tun-ipv6
ifconfig-ipv6 {{ item.openvpn.ipv6 }}
{% else %}
{% endif %}

<secret>
{{ secret }}
</secret>
