#/etc/bird/local4.conf
# should be a unique identifier, <GATEWAY_IP> is what most people use.

define OWNAS = {{ neo_as }};
define OWNIP = {{ dn42_ip }};

function is_self_net() {
  return net ~ [{{ neo_net }}/{{ neo_cidr }}+];
}

function is_valid_network() {
  return net ~ [
    172.20.0.0/14{21,29}, # dn42
    172.20.0.0/24{28,32}, # dn42 Anycast
    172.21.0.0/24{28,32}, # dn42 Anycast
    172.22.0.0/24{28,32}, # dn42 Anycast
    172.23.0.0/24{28,32}, # dn42 Anycast
    172.31.0.0/16+,       # ChaosVPN
    10.100.0.0/14+,       # ChaosVPN
    10.0.0.0/8{15,22}     # Freifunk.net
  ];
}
