port 4200
networkname {{ vpn_name }}
psk {{ vpn_psk }}

enableipv6 no
enablerelay yes
enabletunneling yes

interface tap.peervpn0
ifconfig4 {{ dn42_ip }}/26
initpeers atl.veryamt.com 4200 iev.veryamt.com 4200

enableprivdrop yes
user nobody
group nogroup
# chroot /var/empty
